body{
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ecfafb;
}
.bottom-clouds{
    height: 100px;
    width: 200px;
   position: absolute;
    left: 200px;
   top: 150px;
}
.bottom-container{
    background-color: #34846F;
    color:#ecfafb ;
    font-family: 'Lobster', cursive;
}
#id{
    margin-top: 0;
    margin-bottom: 0;
}

/* button styles */
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Libre Baskerville', serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10p 25px 10px 25px;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  .btn:hover {
    background: #12fa91;
    background-image: -webkit-linear-gradient(top, #12fa91, #0d6127);
    background-image: -moz-linear-gradient(top, #12fa91, #0d6127);
    background-image: -ms-linear-gradient(top, #12fa91, #0d6127);
    background-image: -o-linear-gradient(top, #12fa91, #0d6127);
    background-image: linear-gradient(to bottom, #12fa91, #0d6127);
    text-decoration: none;
  }
.circular{
    border-radius: 100%;
    position: relative;
    
}
.cooking-img{
    height: 25%;
    width: 25%;
    border-radius: 100%;
    float: right;
    margin:0 0 0 30px ;
}
.coding-img{
    height: 25%;
    width: 25%;
    border-radius: 100%;
    float: left;
    margin:0 30px 0 0 ;
}
.contact-me{
    background-color: #34846F;
    padding-top: 30px;
}

div{
    text-align: center;
}
element.style {
    width: auto;
    /* width: 100%; */
    padding-left: 0px;
}
hr{
    background-color: inherit;
    border-style: none;
    border-top-style: dotted ;
    border-color:grey;
    width: 5%;
    border-width: 5px;
}
h1{
    
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Sacramento', cursive;
  color: #184d47;
  font-size: 5em;
  font-weight: 900;
  letter-spacing: 3px;
  
}
h2{
    font-family: 'Libre Baskerville', serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #184d47;
}
h3{
    font-family: 'Libre Baskerville', serif;
    color: #184d47;
}
.intro{
    width: 30%;
    margin: 0 auto;
}
.middle-container{
    position: relative;
    text-align: center;
}
.mountain{
    display: inline-block;
    position: relative;
    margin: 0 auto;
    bottom: 100px;
    
}
p{
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #40514E;
    line-height: 2;  
}
.skill-row{
    width: 50%;
    position: relative;
    margin: 0px auto 50px auto;
    text-align: center;
    
}
.skills{
    display: flex;
    flex-direction: column;
}
.social-img{
    height: 25px;
    width: 25px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 100%;
    background-color:#34846F ;
    padding-right: 0px;

}
.space{
    margin-block-end: 0;
}
.top-container{
    background: linear-gradient(to right, #ecfafb, #34846F);
    position:relative;
    padding-top: 100px;
    text-align: center;
    height: 525px;
    margin-bottom: 25px;
}
.top-clouds{
    height: 100px;
    width: 200px;
    position: absolute;
   top: 50px;
   right: 200px;
}
.web-development{
    height: 25%;
    width: 25%;
    border-radius: 100%;
    float: left;
    margin:0 30px 0 0 ;
}
.column {
    display: inline-block;
      
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
